<div class="tab-container">
<%= render partial: "shared/tabs", locals: {selected_tab: @selected_tab1, tab_contents: @tab_contents1} %>
</div>
<div class="tab-container">
<%= render partial: "shared/tabs", locals: {selected_tab: @selected_tab2, tab_contents: @tab_contents2} %>
</div>